<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Greetings!</h1>
    <p>Owlection is a student developed application provided by Rice Apps. Our goals are to make sure everyone can vote
    on an easy, accessible, and secure platform.</p>
    <p><a class="btn btn-success btn-lg" href="" routerLink="/vote" role="button">Vote Now ></a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Easy</h2>
      <p>Voting should be straight-forward and not complicated.</p>
    </div>

    <div class="col-md-4">
      <h2>Accessible</h2>
      <p>Voting should be availble on any device.</p>
    </div>

    <div class="col-md-4">
      <h2>Secure</h2>
      <p>Voting should be safe and not outsourced.</p>
    </div>
  </div>
</div>
