<!-- Load JS / CSS
================================================== -->
<script src="/static/js/vote/cast-ballot.js"></script>
<link href="/static/css/vote/cast-ballot.css" rel="stylesheet">

<section id="main" class='container-narrow'>
 <!-- PUT CONTENT IN HERE
================================================== -->

  {% if error_msg %}
    <p class='text-error'> {{ error_msg }}</p>
  {% else %}

  <div id='server-response'></div>
  <div id='election-information' data-election-id='{{ id }}'>

  <div class='well'>
    <legend>{{ name }} ({{ organization }})</legend>
    {% if description != "" %}
    <p>
        {{ description }}
    </p>

    <p>
      You are voting as <strong>{{ voter_net_id }}</strong>. Your ballot will be recorded anonymously.
    </p>
    
    <h4>Instructions</h4>
    <p>
      Below is the ballot for this election. Please read the instructions for each position carefully, as they may differ from position to position. Unless otherwise specified, voting for a particular position is optional and you may leave it blank.
    </p>
    
    {% endif %}
    <!-- Print each election by position. -->
    {% for position in positions %}

      <h4 id='{{position.id}}-error' class='error-texts'>
        {{ position.name }}
      </h4>
              <!-- Description -->
        {% if position.description != "" %}
            <p>
                {{ position.description }}
            </p>
        {% endif %}

      <h5 style='color:#666;'>{{ position.type }} Election</h5>

      {% if position.type in ["Ranked-Choice", "Cumulative-Voting", "Boolean-Voting"] %}

        <!-- Instructions for ranked-choice ballots. -->
        {% set count = position.candidates|count %}
        <p>

          <!-- Ranked Choice instructions -->
          {% if position.type == "Ranked-Choice" %}
            Please rank the following candidates with a unique whole number from 1 to {{ count }} (with 1 being your first choice, {{ count }} being your last).
            {% if position.vote_required %}
              <em>You must rank every candidate.</em>
            {% else %}
              <em>If you choose to vote in this election, you must rank every candidate.</em>
            {% endif %}
            {% if position.write_in_slots == 1 %}
              <em>Note: If you add a write-in you should rank from from 1 to {{ count + 1}}. </em>
            {% endif %}
            {% if position.write_in_slots > 1 %}
              <em>Note: If you choose to add one or more write-ins, please rank all write-ins you vote for as well (at most your ranks will go up to {{ count + position.write_in_slots}}). </em>
            {% endif %}
          {% endif %}

          <!-- Cumulative Voting instructions -->
          {% if position.type == "Cumulative-Voting" %}
            You have {{ position.points }} votes to distribute to the following candidates. Multiple votes can be given to one or more candidates, so long as the total number of votes you cast sum to {{ position.points }} (you are not limited to giving only one vote to a candidate). Write the number of points you want to distribute to the candiate in the box left of their name.
            <em>
            {% if position.slots == 1 %}
              One person will be elected for this position.
            {% else %}
              A total of {{ position.slots }} people will be elected for this position.
            {% endif %}
            </em>
          {% endif %}
          {% if position.vote_required == True %}
            <em>You are required to vote for this position.</em>
          {% endif %}

           <!-- Boolean Voting instructions -->
          {% if position.type == "Boolean-Voting" %}
            Please pick one of the following candidates.
            <em>
            {% if position.slots == 1 %}
              One person will be elected for this position.
            {% else %}
              A total of {{ position.slots }} people will be elected for this position.
            {% endif %}
            </em>
          {% endif %}
          {% if position.vote_required == True %}
            <em>You are required to vote for this position.</em>
          {% endif %}
        </p>
        <!-- p>
          You have used <strong id='{{position.id}}-used'>0</strong> of <strong>{{ position.points }}</strong> votes.
        </p -->

        <!-- Candidate listing for this position. -->
        {% if position.type == "Ranked-Choice" %}
        <ul class='position unstyled'
            data-name='{{ position.name }}'
            data-available-votes='{{ position.points }}'
            data-type='{{ position.type }}'
            data-vote-required='{{ position.vote_required }}'
            data-id='{{position.id}}'>
          {% for candidate in position.candidates %}
            <li>
              <input type='text'
                     pattern='[0-9]*'
                     title='Rank for this candidate'
                     data-candidate-name='{{ candidate.name }}'
                     data-candidate-id='{{ candidate.id }}'
                     class='rank-input input-mini {{position.id}}'>
                {% if organization == 'Student Association' %}
                    {% if candidate.name in CandidatePictures %}
                        <img src="{{ CandidatePictures[candidate.name] }}" class="candidate-img">
                    {% endif %}
                {% endif %}
                <span class="help-inline">{{ candidate.name }}</span>
            </li>
          {% endfor %}
          {% for number in range(0, position.write_in_slots) %}
            <li><input type='text'
                       data-candidate-name='write-in'
                       data-candidate-id='write-in-{{position.id}}-{{number}}'
                       class='rank-input input-mini {{position.id}}'>
                <input type='text' id='write-in-{{position.id}}-{{number}}-name' class='input-large' placeholder='Write-In Candidate Name'></li>
          {% endfor %}
        </ul>
        {% endif %}

        <!-- Candidate listing for this position. -->
        {% if position.type == "Cumulative-Voting" %}
        <ul class='position unstyled'
            data-name='{{ position.name }}'
            data-available-votes='{{ position.points }}'
            data-type='{{ position.type }}'
            data-vote-required='{{ position.vote_required }}'
            data-id='{{position.id}}'>
          {% for candidate in position.candidates %}
            <li>
              <input type='number'
                     step='1'
                     min='0'
                     title='Number of votes for this candidate'
                     pattern='[0-9]*'
                     max='{{ position.points }}'
                     data-candidate-name='{{ candidate.name }}'
                     data-candidate-id='{{ candidate.id }}'
                     class='rank-input input-mini {{position.id}}'>
                <span class="help-inline">{{ candidate.name }}</span>
            </li>
          {% endfor %}
          {% for number in range(0, position.write_in_slots) %}
            <li><input type='number'
                       data-candidate-name='write-in'
                       data-candidate-id='write-in-{{position.id}}-{{number}}'
                       class='rank-input input-mini {{position.id}}'>
                <input type='text' id='write-in-{{position.id}}-{{number}}-name' class='input-large' placeholder='Write-In Candidate Name'></li>
          {% endfor %}
        </ul>
        {% endif %}

      <!-- Candidate listing for this position. -->
        {% if position.type == "Boolean-Voting" %}
        <ul class='position unstyled'
            data-name='{{ position.name }}'
            data-type='{{ position.type }}'
            data-vote-required='{{ position.vote_required }}'
            data-id='{{position.id}}'>
          {% for candidate in position.candidates %}
            <li>
              <input type='radio'
                     title='Number of votes for this candidate'
                     name='{{ position.name }}'
                     data-candidate-name='{{ candidate.name }}'
                     data-candidate-id='{{ candidate.id }}'
                     class='rank-input input-mini {{position.id}}'>
                <span class="help-inline">{{ candidate.name }}</span>
            </li>
          {% endfor %}
          {% for number in range(0, position.write_in_slots) %}
            <li><input type='radio'
                       data-candidate-name='write-in'
                       name='{{ position.name }}'
                       data-candidate-id='write-in-{{position.id}}-{{number}}'
                       class='rank-input input-mini {{position.id}}'>
                <input type='text' id='write-in-{{position.id}}-{{number}}-name' class='input-large' placeholder='Write-In Candidate Name'></li>
          {% endfor %}
        </ul>
        {% endif %}

      {% else %}

        <!-- Other types of voting have yet to be implemented. -->
        <p class='text-error'>This has not been implemented. Complain to waseem.</p>

      {% endif %}

    {% endfor %}

    <a id='cast-ballot-button' href='#' class='btn btn-primary'><i class='icon icon-lock icon-white'></i> Cast Ballot</a>

    </div>
    </div>
    {% endif %}
</section>