h4 {
    margin-top:20px;
}

.help-inline {
    margin-top: -10px;
}

.position {
    margin-left: 30px;
}

.rank-input {
    width: 3em;
    text-align:center;
}

#server-response {
    margin-top: 20px;
}

.candidate-img {
    width: 100px;

}
.candidate-img:hover {
    transform: scale(2, 2);
}