<!-- TODO(adam):Might need changes to correspond to the changes in organization.> -->
<script src="/static/js/shared/datetimeutils.js"></script>
<script src="/static/js/admin/organization/election.js"></script>

<section id="main" class='container-narrow'>

  <p>
    <a href="/admin/organization">&laquo; Go Back</a>
  </p>

  <div class='navbar'>
    <div class='navbar-inner'>
      <!-- <span class='brand'>Create Election</span> -->
      <ul class='nav'>
      {% for nav_item in panel_bar %}
        {% if nav_item.active %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="{{ nav_item.link }}">{{ nav_item.text }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div id='election-panel' data-election-id='{{ id }}'>
    <div id="myTabContent" class="tab-content">

    <!-- ===================================================================== -->
      <div class="tab-pane fade active in" id="election-information">
        {{ panel_content }}
      </div>

    <!-- ===================================================================== -->
      <div class="tab-pane fade" id="voters">
        <p>Edit who can vote for this election</p>
      </div>

    <!-- ===================================================================== -->
      <div class="tab-pane fade" id="positions">
        <p>See positions and voter counts for each here.</p>
      </div>

      <!-- ===================================================================== -->
      <div class="tab-pane fade" id="profile">
      </div>
      <div class="tab-pane fade" id="admins">
        <h4>Admins</h4>
        <ul>
          {% for admin in admins %}
            <li><a href="mailto:{{ admin.email }}">{{ admin.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>