<nav class="navbar navbar-dark bg-dark">
    <a href="" routerLink="/" class="navbar-brand">
        <img src="/assets/brand_shield.png" width="30" height="30" alt="" class="d-inline-block align-top">
        OWLECTION
    </a>

    <a *ngIf="!user.net_id" class="btn btn-outline-success" href="" routerLink="/login">Login</a>

    <div *ngIf="user.net_id" class="btn-group align-content-end" dropdown>
        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle"
                style="width: 180px;">
            {{ user.net_id | uppercase }}<span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li role="menuitem"><a class="dropdown-item" href="" routerLink="/voter" routerLinkActive="active">Dashboard</a></li>

                <li *ngIf="user.admin" class="divider dropdown-divider"></li>
                <li *ngIf="user.admin" role="menuitem">
                  <a class="dropdown-item" href="" routerLink="/admin" routerLinkActive="active">Admin</a>
                </li>

                <li *ngIf="user.intern" class="divider dropdown-divider"></li>
                <li *ngIf="user.intern" role="menuitem">
                  <a class="dropdown-item" href="" routerLink="/intern" routerLinkActive="active">Intern</a>
                </li>

            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="" routerLink="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <router-outlet></router-outlet>
</main>
