<h1 align="center">{{"ELECTIONS DASHBOARD"}}</h1>

<h4>Hello, {{user.name}}</h4>

<button type="button"><a href="/admin/election-manage">Create Election</a></button>


<router-outlet></router-outlet>

<p></p>


<div>
    <ngx-datatable
    [rows]="elections"
    [columns]="columns"
    [columnMode]="'flex'"
    [loadingIndicator]="true"
    [headerHeight]="50"
    [rowHeight]="getRowHeight()"
    [selected]="selected"
    [selectionType]="'single'"
    class="bootstrap"
    (select)="onSelect($event)"
    >
    </ngx-datatable>
</div>
