<script type='text/javascript' src='/static/js/intern/command-center.js'></script>
<section id="main" class='container-narrow'>
  <div class='navbar'>
    <div class='navbar-inner'>
      <ul class='nav'>
        <li>
          <a href="#">
            Command Center
          </a>
        </li>
        <li  class='active' >
          <a href="#organizations" data-toggle="tab">
            <i class='icon-user'></i> Organizations
          </a>
        </li>
        <li>
          <a href="#elections" data-toggle="tab">
            <i class='icon-envelope'></i> Elections
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="organizations">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Admin Count</th>
            <th>Election Count</th>
            <th>Vote Count</th>
          </tr>
        </thead>
        <tbody>
          {% for org in organizations %}
            <tr>
              <td>{{ org.name }}</td>
              <td>{{ org.adminCount }}</td>
              <td>{{ org.electionCount }}</td>
              <td>{{ org.voteCount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <form class="form-horizontal well">
        <fieldset>
          <legend>Create Organization</legend>
          <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
              <input type="text"
                     class="input-xlarge span4 profile-input"
                     id="organization-name">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
              <textarea class="input-xlarge span4 profile-input"
                        rows='4'
                        id="organization-description"
                        placeholder="We like to hold elections"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="website">Website</label>
            <div class="controls">
              <input type="text"
                     class="input-xlarge span4 profile-input"
                     id="organization-website"
                     placeholder='http://awesome.com'>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="updateProfile"></label>
            <div class="controls">
              <a id='organization-create'
                     class="input-large btn btn-primary"
                     data-default-text='Create Organization'
                     value=''>Create Organization</a>
            </div>
          </div>
          <input type="hidden"
                 id="organization-id">
        </fieldset>
      </form>
    </div>
    <div class="tab-pane fade" id="elections">
      <h2>Upcoming elections</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Organization</th>
            <th width='150px'>Name</th>
            <th>Election Open</th>
            <th>Participation</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% if not elections %}
            <tr>
              <td colspan='5'>No elections yet. Create one now!</td>
            </tr>
          {% endif %}
          {% for elec in elections %}
            {% set status_flag = 'info' %}
            {% set status = 'Not started' %}

            {% if now > elec.times.start %}
              {% set status_flag = 'info' %}
              {% set status = 'Voting in progress.' %}
            {% endif %}

            {% if now > elec.times.end %}
              {% set status_flag = 'warning' %}
              {% set status = 'Voting has ended.' %}
            {% endif %}

            {% if elec.result_computed %}
              {% set status_flag = 'success' %}
              {% set status = 'Result computed' %}
            {% endif %}

            <tr>
              <td>
                  <span>{{ elec.organization }}</span>
              </td>
              <td>
                {% if elec.times.end > now %}
                  <a href="/vote/cast-ballot?id={{ elec.id }}">{{ elec.name }}</a>
                {% else %}
                  <a href="/vote/view-results?id={{ elec.id }}">{{ elec.name }}</a>
                {% endif %}
              </td>
              <td>
                <span class="date-format">{{ elec.times.start }}</span><br>
                <span class="date-format">{{ elec.times.end }}</span>
              </td>
              <td><span>{{ elec.voted_count }} / {{ elec.voter_count }} </span>voters</td>
              <td><span class="alert-{{status_flag}}" style='background:none;'>{{ status }} </span></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
