<h1 align="center">{{"ELECTIONS DASHBOARD"}}</h1>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <ul class="nav flex-column nav-pills nav-justified text-center">
        <li class="nav-item"><a href="" class="nav-link" routerLink="/admin/election-dash" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/admin/election-manage" routerLinkActive="active">Create Elections</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-9 col-xl-8 bd-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
