{% extends "/templates/page.html" %}
{% block content %}

<section id="main" class='container-narrow'>
  <div class='navbar'>
    <div class='navbar-inner'>
      <ul class='nav'>
        <li>
          <a href="#">
            Command Center
          </a>
        </li>
        <li  class='active' >
          <a href="#organizations" data-toggle="tab">
            <i class='icon-user'></i> Organizations
          </a>
        </li>
        <li>
          <a href="#elections" data-toggle="tab">
            <i class='icon-envelope'></i> Elections
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="organizations">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Admin Count</th>
            <th>Election Count</th>
            <th>Vote Count</th>
          </tr>
        </thead>
        <tbody>
          {% for org in organizations %}
            <tr>
              <td>{{ org.name }}</td>
              <td>{{ org.adminCount }}</td>
              <td>{{ org.electionCount }}</td>
              <td>{{ org.voteCount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <form class="form-horizontal well">
        <fieldset>
          <legend>Create Organization</legend>
          <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
              <input type="text"
                     class="input-xlarge span4 profile-input"
                     id="organization-name">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
              <textarea class="input-xlarge span4 profile-input"
                        rows='4'
                        id="organization-description"
                        placeholder="We like to hold elections"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="website">Website</label>
            <div class="controls">
              <input type="text"
                     class="input-xlarge span4 profile-input"
                     id="organization-website"
                     placeholder='http://awesome.com'>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="updateProfile"></label>
            <div class="controls">
              <a href='#' id='updateProfile'
                     class="input-large btn btn-primary disabled"
                     data-default-text='Update Profile'
                     value=''>Update Profile</a>
            </div>
          </div>
          <input type="hidden"
                 id="organization-id">
        </fieldset>
      </form>
    </div>
    <div class="tab-pane fade" id="elections">
      <h1> Hello!</h1>
    </div>
  </div>
</section>

{% endblock %}