<!-- Main Section
================================================== -->
<section id="main" class='container-narrow'>
<div class="row">
  <div class="span4">
  	<h2>About Us</h2>
  	<p>Rice Elections was created to provide a secure and convenient online platform for conducting elections at Rice. It aims to solve problems with the traditional paper based voting systems at the student organization level.</p>
  	<p>In the past, Brown College found inconsistencies in the number of voters and the number of votes cast during elections. This led to the ballot being spoilt for a close election and another round of voting had to held. Furthermore, manually counting votes and following intricate rules is tedious and can lead to mistakes by election committees.</p>
  	<p>This website aims to solve such inconsistencies by automatically counting votes and enforcing strict voting rules while maintaining voter privacy and anonymity. We strive to make this website very straight forward and user friendly towards both the voters and the election administrators.</p>
  	<p>The website is open source and was created for free by <a href="http://www.waseemahmad.com">Waseem Ahmad</a> and <a href="http://capshaw.me">Andrew Capshaw</a>. The website ownership was transferred to <a href="http://riceapps.org">Rice Apps</a> when it was founded in Fall 2013. The source code can be viewed <a href="https://github.com/rice-apps/rice-elections">here</a>.</p>
  </div>
  <div class="span3">
  	<h2>Contact Us</h2>
  	<p>If you are interested in hosting elections for your organization at Rice, please reach out to us. If you are from another university and would like to use our platform to create your own application, we can point you in the right direction and help you get started!</p>
  	<p>If you would like to contact the website administration for any other reason, please e-mail <a href="mailto:stl2@rice.edu">Savion Lee</a>.</p>
  	<p>Any kind of ideas, suggestions, or feedback is appreciated!</p>
  </div>
</div>
</section>
