<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Election Results</title>
    <style>
        tr {
           border: 1px solid black;
        }
        table {
            width: 100%;
        }
    </style>
</head>
<body style="background-color: #151F33; width: 90%; margin: 0 auto;">
    <header style="background-color: #344D7F; display: flex; width: 90%; height: 53px; align-items: center; margin: inherit;">
        <a href="https://elections.riceapps.org"><img src="https://elections.riceapps.org/static/img/brand/logo.png"
                                                      alt="Rice Elections" height="53" style="display: inline-block;"
                                                      align="left"/></a>

        <p style="width: inherit; vertical-align: middle; color: #FFF; font-family: 'Times New Roman'; font-weight: 100; height: auto; display: inline-block; font-size: 1em; position: relative;">
            Elections for Rice Communities</p>
    </header>
    <section style="width: 90%; margin: inherit; background-color: #363E4C;">
        <div>
            <p style="margin: 5px; padding: 10px; font-size: 2em; text-align: center; font-family: 'Times New Roman' color: #FFFFFF;">
                Your Election Results!</p>
            <hr width="100%"/>
        </div>
        <table>
            {% for pos in positions %}
            <tr style="color: rgb(230, 236, 255)">
                <td colspan="2" style="border-bottom: solid #999 2px; text-align: center">
                    <strong>{{ pos.name }}</strong>
                </td>
            </tr>
            <tr style="color: rgb(230, 236, 255)">
                <td style="border-right: solid #999 1px;">
                    <div style="padding:10px; align:top;">
                        <ul>
                            <li>Position Type: {{ pos.type }}</li>
                            <li>Vote Required: {{ pos.vote_required }}</li>
                            <li>Candidates:
                                <ul>
                                    {% for candidate in pos.candidates %}
                                        <li>{{ candidate }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>Write-Ins:
                                {% if not pos.write_ins or len(pos.write_ins) == 0%}
                                No Write Ins
                                {% else %}
                                <ul>
                                    {% for write_in in pos.write_ins %}
                                        <li>{{ write_in }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div style = "padding: 10px; align:top;">
                        {%  if pos.type == "Ranked-Choice" %}
                        <!--Ranked Voting Type-->
                        <div style=" position: relative; flex: 1; text-align: left;">
                            {%  for round in pos.rounds %}
                                <p>Round: {{ round.number }}</p>
                                <!--Majority not Found-->
                                {% if round.majority == False %}
                                    <ul>
                                        <li><em>Majority Not Found!</em></li>
                                        <li>First Place Preferences:
                                            <ul>
                                                {% for pref in round.prefs %}
                                                    <li>{{ pref }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>Remaining Candidates:
                                            <ul>
                                                {% for remaining in round.remaining %}
                                                    <li>{{ remaining }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>Candidate Cut:
                                            <ul>
                                                {% for cut in round.cut %}
                                                    <li>{{ cut }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                {% endif %}

                                {% if round.majority == True %}
                                    <!--Majority Found-->
                                    <ul>
                                        <li><em>Majority Found!</em></li>
                                        <li>First Place Preferences:
                                           <ul>
                                                {% for pref in round.prefs %}
                                                    <li>{{ pref }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>Winner(s):
                                            <ul>
                                                {% for winner in pos.winners %}
                                                    <li><strong style="color: green">{{ winner }}</strong></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if pos.type in ['Boolean-Voting','Cumulative-Voting'] %}
                        <!--Cumulative Voting-->
                        <div>
                            <ul>
                                <li>Total Points:
                                    {% if pos.type == 'Boolean-Voting' %}
                                        <ul>
                                            {% for can, points in pos.points.items() %}
                                                <li>{{ can }} - {{ points }} point(s)</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {{ pos.points }}
                                    {% endif %}
                                </li>
                                <li>Winner(s):
                                    <ul>
                                        {% for winner in pos.winners %}
                                            <li><strong style="color: green">{{ winner }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    <section style="width: inherit; margin: inherit; background: #5A6273; ">
        <div style="padding: .33em; color: #FFFFFF;">
            <p style="text-align: center; font-size: 1.5em; margin: 0;">At Your Service,<br>
                Rice Elections</p>

            <div style="width:inherit; display: flex; align-items: center; margin: 0;">
                <div style="flex: 1;width: 45%;text-align: right; margin: 0 5px;">
                    <p style="text-align: right;">Questions or Comments?<br>
                        Email our Admin!</p>
                </div>
                <div style="flex: 1;width: 45%; height: inherit; text-align: left;">
                    <a href="mailto:stl2@rice.edu?subject=[Rice-Elections]%20Results%20Inquiry"><img
                            src="http://i.imgur.com/J9srEnU.png"></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
