<section id='main'>
  <div class='wow'>
    <div class="jumbotron">
      <h1>Voting made simple!</h1>
      <div class="lead">A secure, user friendly, and transparent way of holding elections.</div>
      <a class="btn btn-large btn-success" href="/vote">Cast your vote</a>
    </div>
  </div>
    <div class="row-fluid marketing">
      <div class="span12">
        <div style='text-align:center'>
          <h4>Participating Colleges</h4>
          <div class='who' style='background-image: url(/static/img/who/brown-college.png);'></div>
          <div class='who' style='background-image: url(/static/img/who/mcmurtry-college.png);'></div>
          <div class='who' style='background-image: url(/static/img/who/baker-college.gif);'></div>
          <div class='who' style='background-image: url(/static/img/who/sid-rich-college.jpg);'></div>
        </div>
      </div>
    </div>
  <div class='container-narrow'>
    <div class="row-fluid marketing">
      <div class="span6">
        <h4>A secure platform</h4>
        <p>Voters are authenticated through Rice's NetID authentication system.</p>

        <h4>Only eligible people can vote</h4>
        <p>An election is open only to people whose NetIDs are provided during the election creation process.</p>

        <h4>Open Source Platform</h4>
        <p>We provide free distribution and access to our source code, design, and implementation details so that other schools can use it as well!</p>
      </div>

      <div class="span6">
        <h4>Ballots are anonymous</h4>
        <p>The ballots cast by the voter are strictly anonymous! We do not tie your vote choices with your identity.</p>

        <h4>Transparency</h4>
        <p>The voters of the election can see the results after a specified delay. So the election is transparent!</p>

        <h4>Conduct elections for your organization</h4>
        <p>If you are interested in holding elections for your organization through Owlection, contact us!</p>
      </div>
    </div>
  </div>
</section>