<section id='main'>
    <div class='wow'>
        <div class="jumbotron">
            <h1>Server Error</h1>
            <div class="lead">Something happened on our server, see below for more information.</div>
        </div>
    </div>
    <div class="container">
        <h4>Current Information - Jan 22, 11:45PM</h4>
        <p>Thank you faithful organizations, admins, and voters for trusting us with your vote. As of last night, our
        club p-card expired and was not renewed in time to give us a fresh quota to faithfully serve you the evening of
        January 22. We want to assure you that the errors we are encountering are from reading the current data we have
        saved and not from writing. Meaning all votes that were cast are still here, we just cannot read them. The quota will
         be reset at 2AM CST and a new set of billing has been enabled.</p>
        <p><strong>Organizations</strong> that have current elections, please email our <strong><a href="mailto:stl2@rice.edu" style="text-decoration: underline;">admin</a></strong> if you
            believe you might have been affected by this outage. We will then do our best to extend any deadlines to elections
            affected and work with you in getting the results out as soon as possible. If you ever have any questions, please
            also send an email to the admin.</p>
        <p><strong>Voters</strong> if you feel you were affected by the outage, please contact your organization admin.
            The admin will be able to relay to our developers what your issue is and serve as communications to and from us.</p>
        <p></p>
        <p>At your Service,</p>
        <p>Rice Elections Team</p>
        <p><a href="mailto:stl2@rice.edu?subject=Elections%20Outage">Email Us</a> - stl2@rice.edu</p>
    </div>
</section>