<link href="css/docs.css" rel="stylesheet">
<section id="main" class='container-narrow'>
<div class="bs-docs-example">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#elections" data-toggle="tab">Elections</a></li>
    <li class=""><a href="#voters" data-toggle="tab">Voter Lists</a></li>
    <li class=""><a href="#profile" data-toggle="tab">Organization Profile</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organization <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
        <li class=""><a href="#admins" data-toggle="tab">Admins</a></li>
      </ul>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">

    <!-- Elections Tab -->
    <div class="tab-pane fade active in" id="elections">
      <div>
        <a class="btn btn-primary" href="#createElection" role="button" data-toggle="modal"><i class="icon-plus icon-white"></i> Create</a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>#Voters</th>
            <th>#Voted</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for elec in elections %}
            {% set status_flag = 'error' %}

            {% if now > elec.start %}
              {% set status_flag = 'info' %}
              {% set status = 'Voting in progress.' %}
            {% endif %}

            {% if now > elec.end %}
              {% set status_flag = 'warning' %}
              {% set status = 'Voting has ended.' %}
            {% endif %}

            {% if elec.result_computed %}
              {% set status_flag = 'success' %}
              {% set status = 'Result computed' %}
            {% endif %}

            <tr class="{{status_flag}}">            
              <td>{{ elec.name }}</td>
              <td><span class="date-format">{{ elec.start | datetime('small') }}</span></td>
              <td><span class="date-format">{{ elec.end | datetime('small') }}</span></td>
              <td><span>{{ elec.voter_count }}</span></td>
              <td><span>{{ elec.voted_count }}</span></td>
              <td>{{ status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div class="tab-pane fade" id="viters">
      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
    </div>
    <div class="tab-pane fade" id="profile">
      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
    </div>
    <div class="tab-pane fade" id="admins">
      <h4>Admins</h4>
      <ul>
        {% for admin in admins %}
          <li><a href="mailto:{{ admin.email }}">{{ admin.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</section>

<!-- Create Election Modal -->
<div id="createElection" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>