<!-- Load JS / CSS
================================================== -->
<script src="js/cast-ballot.js"></script>
<link href="css/cast-ballot.css" rel="stylesheet">

<section id="main">
 <!-- PUT CONTENT IN HERE
================================================== -->

  {% if error_msg %}
    <p class='text-error'> {{ error_msg }}</p>
  {% else %}

  <div id="server-response"></div>

  <div class='well'>
    <legend>{{ name }} ({{ organization }})</legend>
    <p>
      Below is the ballot for this election. You are voting as <strong>{{ voter_net_id }}</strong> but your choices will not be tied to your netID in any way.
    </p>

    <!-- Print each election by position. -->
    {% for position in positions %}
      {% set outer_loop = loop %}

      <h4>{{ position.name }}</h4>

      {% if position.type == "Ranked-Choice" %}

        <!-- Instructions for ranked-choice ballots. -->
        <p id='position-{{outer_loop.index}}-error' class='error-texts'>Please rank the following candidates with a unique whole number from 1 to {{ position.candidates|count }} (with 1 being your first choice, {{ position.candidates|count }} being your last). <em>You must rank every candidate.</em></p>

        <!-- Candidate listing for this position. -->
        <ul class='position unstyled' style='margin-left:30px;' data-name='{{ position.name }}' data-type='{{ position.type }}' data-id='position-{{outer_loop.index}}'>
          {% for candidate in position.candidates %}
            <li>
              <input type='text'
                     data-candidate-name='{{ candidate }}'
                     class='input-mini position-{{outer_loop.index}}'
                     style='width: 2em; text-align:center;'><!-- TODO -->
                <span class="help-inline">{{ candidate }}</span>
            </li>
          {% endfor %}
          {% if position.write_in %}
            <li><input type='text'
                       data-candidate-name='write-in'
                       class='input-mini position-{{outer_loop.index}}'
                       style='width: 2em; text-align:center;'><!-- TODO -->
                <input type='text' id='write-in-name' class='input-large' placeholder='Write-In Candidate Name'></li>
          {% endif %}
        </ul>

      {% else %}

        <!-- Other types of voting have yet to be implemented. -->
        <p class='text-error'>This has not been implemented. Complain to waseem.</p>

      {% endif %}

    {% endfor %}

    <a id='cast-ballot-button' href='#' class='btn btn-primary'>Cast Ballot</a>

    </div>

    {% endif %}
</section>