<!-- Load JS / CSS
================================================== -->
<script src="js/cast-ballot.js"></script>
<link href="css/cast-ballot.css" rel="stylesheet">

<section id="main">
 <!-- PUT CONTENT IN HERE
================================================== -->

  {% if error_msg %}
    <p class='text-error'> {{ error_msg }}</p>
  {% else %}

  <div id='server-response'></div>
  <div id='election-information' data-election-id='{{ id }}'>

  <div class='well'>
    <legend>{{ name }} ({{ organization }})</legend>
    <p>
      Below is the ballot for this election. You are voting as <strong>{{ voter_net_id }}</strong> but your choices will not be tied to your netID in any way.
    </p>

    <!-- Print each election by position. -->
    {% for position in positions %}

      <h4>{{ position.name }}</h4>

      {% if position.type in ["Ranked-Choice", "Cumulative-Voting"] %}

        <!-- Instructions for ranked-choice ballots. -->
        {% set count = position.candidates|count %}
        <p id='{{position.id}}-error' class='error-texts'>

          <!-- Ranked Choice instructions -->
          {% if position.type == "Ranked-Choice" %}
            Please rank the following candidates with a unique whole number from 1 to {{ count }} (with 1 being your first choice, {{ count }} being your last).
            <em>You must rank every candidate.</em>
            {% if position.write_in %}
              <em>Note: If you add a write-in you should rank from from 1 to {{ count + 1}}. </em>
            {% endif %}
          {% endif %}

          <!-- Cumulative Voting insturctions -->
          {% if position.type == "Cumulative-Voting" %}
            You have {{ position.points }} votes to distribute to the following candidates. You are not limited to giving only one vote to a candidate. Instead, you can put multiple votes on one or more candidates, so long as they sum to {{ position.points }}.
          {% endif %}

          {% if position.vote_required == True %}
            <em>You are required to vote for this position.</em>
          {% endif %}
        </p>

        <!-- Candidate listing for this position. -->
        <ul class='position unstyled'
            data-name='{{ position.name }}'
            data-available-votes='{{ position.points }}'
            data-type='{{ position.type }}'
            data-vote-required='{{ position.vote_required }}'
            data-id='{{position.id}}'>
          {% for candidate in position.candidates %}
            <li>
              <input type='text'
                     data-candidate-name='{{ candidate.name }}'
                     data-candidate-id='{{ candidate.id }}'
                     class='rank-input input-mini {{position.id}}'>
                <span class="help-inline">{{ candidate.name }}</span>
            </li>
          {% endfor %}
          {% for number in range(0, position.write_in_slots) %}
            <li><input type='text'
                       data-candidate-name='write-in'
                       data-candidate-id='write-in-{{position.id}}-{{number}}'
                       class='rank-input input-mini {{position.id}}'>
                <input type='text' id='write-in-{{position.id}}-{{number}}-name' class='input-large' placeholder='Write-In Candidate Name'></li>
          {% endfor %}
        </ul>

      {% else %}

        <!-- Other types of voting have yet to be implemented. -->
        <p class='text-error'>This has not been implemented. Complain to waseem.</p>

      {% endif %}

    {% endfor %}

    <a id='cast-ballot-button' href='#' class='btn btn-primary'>Cast Ballot</a>

    </div>

    {% endif %}
</section>