<!-- Load JS / CSS
================================================== -->

<section id="main">
 <!-- PUT CONTENT IN HERE
================================================== -->
<!--
TEST_DATA = {u'start': 1357659600,
             u'positions': [
                {u'candidates': [{u'name': u'Waseem Ahmad', u'netId': u'wa1'},
                                 {u'name': u'Sal Testa', u'netId': u'srt6'}],
                     u'slots': 1,
                     u'writeIn': False,
                     u'type': u'Ranked-Choice',
                     u'name': u'President'},
                {u'candidates': [{u'name': u'Sal Testa', u'netId': u'srt6'},
                                 {u'name': u'Andrew Capshaw', u'netId': u'apc3'}],
                 u'slots': 1,
                 u'writeIn': True,
                 u'type': u'Ranked-Choice',
                 u'name': u'Chief Justice'}],
             u'end': 1357832100,
             u'name': u'Round One',
             u'voters': [u'wa1', u'srt6', u'apc3']} -->

  <!-- Print the ballot. -->
  <h2>{{ election.name }}</h2>
  <p>
    Below is the ballot for this election. You are voting as <strong>netid</strong> but your choices will not be tied to your netID in any way.
  </p>
  {% for position in election.positions %}
    <h3>{{ position.name }}</h3>
    {% if position.type equals "Ranked-Choice" %}
      <ul>
        {% for candidate in position.candidates %}
          <li><input name='{{ candidate.netId }}' class='input-small'> {{ candidate.name }}</li>
        {% endfor %}
        {% if position.writeIn %}
          <li><input name='write_in_rank' class='input-small'>
              <input name='write_in_name' class='input-medium'></li>
        {% endif }
      </ul>
    {% else %}
      <p class='error'>This has not been implemented. Complain to waseem.</p>
    {% endif %}
  {% endfor %}

  <a href='#' class='btn btn-primary disabled'>Cast Ballot</a>
</section>