<script type='text/javascript' src='/static/js/admin/organization-panel.js'></script>
<section id="main" class='container-narrow'>

<div class='navbar'>
  <div class='navbar-inner'>
    <ul class='nav'>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {{ organization.name }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href='#'>Other Organization</a></li>
          <li><a href='#'>Other Organization II</a></li>
          <li class="divider"></li>
          <li><a href='#'><i class='icon-plus'></i> New Organization</a></li>
        </ul>
      </li>
      <li  class='active' >
        <a href="#elections" data-toggle="tab">
          <i class='icon-envelope'></i> Elections
        </a>
      </li>
      <li>
        <a href="#voters" data-toggle="tab">
          <i class='icon-th-list'></i> Voter Lists
        </a>
      </li>
      <li>
        <a href="#profile" data-toggle="tab">
          <i class='icon-pencil'></i> Profile
        </a>
      </li>
      <li>
        <a href="#admins" data-toggle="tab">
          <i class='icon-user'></i> Admins
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="myTabContent" class="tab-content">
  <!-- ===================================================================== -->
  <div class="tab-pane fade active in" id="elections">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width='150px'>Name</th>
          <th>Election Open</th>
          <th>Participation</th>
          <th>Status</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% if not elections %}
          <tr>
            <td colspan='5'>No elections yet. Create one now!</td>
          </tr>
        {% endif %}
        {% for elec in elections|reverse %}
          {% set status_flag = 'error' %}

          {% if now > elec.times.start %}
            {% set status_flag = 'info' %}
            {% set status = 'Voting in progress.' %}
          {% endif %}

          {% if now > elec.times.end %}
            {% set status_flag = 'warning' %}
            {% set status = 'Voting has ended.' %}
          {% endif %}

          {% if elec.result_computed %}
            {% set status_flag = 'success' %}
            {% set status = 'Result computed' %}
          {% endif %}

          <tr>
            <td>
              {% if elec.times.end > now %}
                <a href="/vote/cast-ballot?id={{ elec.id }}">{{ elec.name }}</a>
              {% else %}
                <a href="/vote/view-results?id={{ elec.id }}">{{ elec.name }}</a>
              {% endif %}
            </td>
            <td>
              <span class="date-format">{{ elec.times.start }}</span><br>
              <span class="date-format">{{ elec.times.end }}</span>
            </td>
            <td><span>{{ elec.voted_count }} / {{ elec.voter_count }} </span>voters</td>
            <td><span class="alert-{{status_flag}}" style='background:none;'>{{ status }} </span></td>
            <td>
              <a href="/admin/organization-panel/election-panel/?id={{ elec.id }}">Edit</a>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan='5'>
            <a class="btn btn-primary pull-right" href="organization-panel/election-panel" role="button"><i class="icon-plus icon-white"></i> New Election</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ===================================================================== -->
  <div class="tab-pane fade" id="voters">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width='150px'>List Name</th>
          <th>Voters</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
      {% if not elections %}
        <tr>
          <td colspan='3'>No voters list yet. Create one now!</td>
        </tr>
      {% endif %}
        <tr>
          <td>
            Brown Seniors
          </td>
          <td>
            <!-- TODO: Use list id as id. Four instances -->
            <div class='span4' id='net-ids-1-paragraph'>apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3</div>
            <textarea spellcheck='false' class='span4' rows='5' style='display:none' id='net-ids-1-textarea'>apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3, apc1, wa1, asdf2, df3</textarea>
            <p style='display:none' id='net-ids-1-buttons'>
              <a href='#' class='btn btn-primary'>Save</a>
              <a href='#' class='btn'>Cancel</a>
            </p>
          </td>
          <td>
            <!-- TODO: use list id as id to open-->
            <a class='edit-voter-list' href="#net-ids-1" data-editing='0'>Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ===================================================================== -->
  <div class="tab-pane fade" id="profile">
    <form class="form-horizontal well">
      <fieldset>
        <legend>Organization Profile</legend>
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text"
                   class="input-xlarge span4 profile-input"
                   id="organization-name"
                   value='{{ organization.name }}'>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea class="input-xlarge span4 profile-input"
                      rows='4'
                      id="organization-description"
                      placeholder="We like to hold elections">{{ organization.description }}</textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="website">Website</label>
          <div class="controls">
            <input type="text"
                   class="input-xlarge span4 profile-input"
                   id="organization-website"
                   placeholder='http://awesome.com'
                   value='{{ organization.website }}'>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="updateProfile"></label>
          <div class="controls">
            <a href='#' id='updateProfile'
                   class="input-large btn btn-primary disabled"
                   data-default-text='Update Profile'
                   value=''>Update Profile</a>
          </div>
        </div>
        <input type="hidden"
               id="organization-id"
               value='{{ organization.key() }}'>
      </fieldset>

    </form>
  </div>
  <!-- ===================================================================== -->
  <div class="tab-pane fade" id="admins">
    <h4>{{organization.name }} Admins</h4>
    <ul>
      {% for admin in admins %}
        <li><a href="mailto:{{ admin.email }}">{{ admin.email }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
</section>