<!-- <div>
  <a routerLink="/admin/profile" routerLinkActive="active">
    <button md-button class="md-primary">Profile</button>
  </a>
  <a routerLink="/admin/members" routerLinkActive="active">
    <button md-button class="md-primary">Members</button>
  </a>
</div> -->
<router-outlet></router-outlet>

<!-- <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
      <button md-button class="md-raised">Button</button>
      <button md-button class="md-raised md-primary">Primary</button>
      <button md-button ng-disabled="true" class="md-raised md-primary">Disabled</button>
      <button md-button class="md-raised md-warn">Warn</button>
      <div class="label">Raised</div>
</section> -->
