<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <ul class="nav flex-column nav-pills nav-justified text-center">
        <!-- TODO: change to better layout -->
        <li class="nav-item"><a href="" class="nav-link" routerLink="/admin/profile"
          routerLinkActive="active">Profile</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/admin/members"
          routerLinkActive="active">Members</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-9 col-xl-8 bd-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
