<ul class="nav nav-pills nav-justified text-center">
    <li class="nav-item"><a href="" class="nav-link" routerLink="/intern/organizations" routerLinkActive="active">Organizations</a></li>
    <li class="nav-item"><a href="" class="nav-link" routerLink="/intern/elections" routerLinkActive="active">Elections</a></li>
    <li class="nav-item"><a href="" class="nav-link" routerLink="/intern/reports" routerLinkActive="active">Report</a></li>
</ul>
<div class="row">
    <div class="col-sm" style="background: lightblue">
        <router-outlet></router-outlet>
    </div>
</div>
