<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rice Elections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A secure, user friendly, and transparent way of voting for elections within different organizations at Rice!">
    <meta name="author" content="Rice Apps">

    <!-- Facebook/OpenGraph Properties -->
    <meta property="og:url" content="https://elections.riceapps.org"/>
    <meta property="og:title" content="Rice Elections"/>
    <meta property="og:image" content="https://1-6-4-dot-owlection.appspot.com/static/img/brand/testing_shield.png" />
    <meta property="og:description" content="A secure, user friendly, and transparent way
      of voting for elections within Rice Communities!" />

    <link href="/static/css/shared/bootstrap.css" rel="stylesheet">
    <link href="/static/css/shared/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/shared/docs.css" rel="stylesheet">
    <link href="/static/css/shared/template.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/brand/favicon.ico">

    <!-- Placed at the start of the document so that pages are able to use it -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/shared/bootstrap.js"></script>
    <script src="/static/js/shared/timezone.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73721682-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
<body>
    <!-- REDO all of this -->
    <div>
      <div class='header-module'>
        <div class="masthead container-narrow">
          <ul class="nav nav-pills pull-right">
            {% for nav_item in nav_bar %}
              {% if nav_item.active %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
              <a href="{{ nav_item.link }}">{{ nav_item.text }}</a></li>
            {% endfor %}
          </ul>
          <a href="/"><img src="/static/img/brand/logo.png" style="width:300px;"/></a>
          {% if net_id %}
            <div class='login-box container-narrow'>
              <small>Hello, <em>{{ net_id }}</em> &middot; <a href="/authenticate/logout">Logout</a></small>
            </div>
          {% endif %}
        </div>
      </div>

      {{ page_content }}

      <div style="margin-top:50px;" class="container-narrow">
        &copy; Rice Elections 2016 <span class="muted credit"> &middot; Maintained by  <a href="/contact">Rice Apps</a>.</span>
      </div>

    </div> <!-- /container -->
  </body>
</html>